.alert-enter {
    opacity: 0;
  }
  .alert-enter-active {
    opacity: 1;
    transition: .25s all;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transition: .25s  all;
  }
  